@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-transform: uppercase;
}
header{height:40px ;
    width:100%;
    background-color:aqua ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 33;

}
.navigation {
    padding: 20px;
    display: inline-block;
}
.navigation a{
    margin-left: 30px;
    text-decoration: none;

}
.navigation a:hover{color: blueviolet;
 
}
.logo{
    margin-left: 20px;
    text-decoration: none;
    
}
 section{
    padding: 100px 100px;
} 
.main{
    width: 100%;
    min-height: 100vh;
    background: url("img/5.jpg") ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

}
h2{
    color: darkmagenta;
    font-weight: 1.3em;
    font-size: 1.5em;

}
h2 span{
    color: darkolivegreen;
    font-weight: 1.8em;
    font-size: 1.9em;

}
h3{
    color: darkseagreen;
    font-weight: 1.9em;
    font-size: 1.7em;

}
.btn{
    display: inline-block;
    color: white;
    background-color: blue;
    text-decoration: none;
    font-size: 1.5em;

}
.btn:hover{
    
    transition: 2s;
    background-color: blueviolet;
  transform: scale(1.2,1.8);
}
.socialicons a{color: white;
    padding-right: 30px;
  font-size: 2em;
    
}
.as{
    display: inline-block;
}
.as:hover{
    transition: 1.8s;
    transform: scale(1.2);

}
.title{
    font-size: 1.85em;
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    
;

}
.contain{
    display: flex;
    justify-content: center;
    flex-direction: row;
     flex-wrap: wrap; 
}
.card{
    width: 15.25em;
    box-shadow:0 5px 25px rgba(1 1 1/15%);
margin-left: 40px;}
.icon{
    color: blue;
    font-size: 15.1em;
    font-weight: 3.2em;
    display: flex;
    justify-content: center;

}
.info{
    font-size: 1.5em;
color: chocolate;

}
.icon:hover{
    transition: 5s;
    transform: scale(1.2);
    color: darkgray;
}
.all{
    background-color: gray;
    

}
.container{
    display: flex;
    flex-direction: row;
     flex-wrap: wrap; 
}
.card1{
    min-height: 12em;
width: 25em;
background-color: green;
border-radius: 2px;
overflow: hidden;
padding: 10px;
margin: 10px;

}
.card1:hover{
    transform: scale(1.2);
    transition: 5s;
    

}
.photo{
    width: 100%;
}
.card1:hover .photo{
    opacity: .3 ;
}
.details{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.ahmed{
    text-decoration: none;
   
}
.ahmed:hover{ transform: scale(1.5);
    color: fuchsia;

}


.pepo{
    background-color: khaki;
}
.phone
{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    color: lightcoral;
}
.cart{
    min-height: 20em;
    width: 40em;
    background-color:greenyellow;
    border: 2px solid gray;
 margin: 40px;

}
.info p{
    display: flex;
    justify-content: center;
}
.papa{
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.cart:hover{
    transition: 5s;
    transform: scale(1.2);

}
footer{
    
    display: flex;
    justify-content: space-between;
}
.ss{
    font-size:2em;
    font-weight: 120;
   
}
.xx{
margin: 20px;
text-decoration: none;
}
span{color: blue;
    font-size: 20px;

}
@media(max-width:500px){

    body{background-color: red;
    opacity: .5;}
    
}